$color_1: rgb(255, 255, 255);
$color_2: rgb(171, 109, 132);
$color_3: #000000;
$color_4: #eab5b5;
$color_5: #f1e31c;
$color_6: #fcfcfc;
$color_7: white;
$color_8: #61dafb;
$font-family_1: "Poppins", sans-serif;
$font-family_2: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Geneva, Tahoma, sans-serif;
$font-family_3: Tahoma;
$background-color_1: rgb(255, 255, 255);
$background-color_2: rgb(171, 109, 132);
$background-color_3: #eab5b5;
$background-color_4: #f1e31c;
$backgorund-color_5: #282c34;
